.body{
    background: linear-gradient(to right, lightblue, rgba(12, 100, 182, 0.781), blue);
    font-size: 30px;
}

.main_table{
    width: 250px;
    height: 250px;
    margin-top: 10%;
    margin-left: 38%;
}

td{
    border: 3px solid black;
    height: 90px;
    width: 100px;
}

button{
    width: 90px;
    height: 80px;
    border: none;
    background-color: transparent;
}

button:hover{
    cursor: pointer;
}

#turno_dit{
    text-align: center;
    background: transparent;
    border-radius: 20px;
}